<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="container-fluid mtop-5 mb-5">
  <div class="text-content py12  text-center text-white">
    <h2 class="mb-3">Engage Students Wherever They Are</h2>
    <p class="mb-4">Taptutors is built with teachers, students, and schools in mind.</p>
    <br>
    <a href="https://online.taptutors.com/b/signup" class="btnavi">
      <span class="elementor-button-text" style="color: white;">TRY IT NOW <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
    </a>
  </div>
</div>

<%#= render "main/components/features" %>
